- content_for :header do
  = @calculator.golfer.full_name

%dl.dl-horizontal
  %dt Handicap
  %dd= @golfer.handicap

  %dt Rounds played
  %dd
    %ul.col-md-10.list-group
      - if @golfer.rounds.empty?
        %li.list-group-item.bold No rounds entered
      - @golfer.rounds.ordered_by_recent.limit(15).each.with_index do |round, index|
        - is_high_score = @calculator.high_round?(round)
        %li.list-group-item{ class: [('high-score' if is_high_score), ('old-score' if index >= 10)].join(' ') }
          == #{round.net_score} on #{fdate round.occurred_on}
          = '*' if is_high_score
          - if current_admin
            = link_to(admin_round_path(round), class: 'right-align', data: { method: :delete, confirm: 'Permanently remove round?' }) do
              %span.glyphicon.glyphicon-remove.red

  %dt Sum of high scores
  %dd= @calculator.sum_of_best_rounds

  %dt Average of high scores
  %dd= @calculator.net_average
