- content_for :header do
  = @golfer.full_name

%dl.dl-horizontal
  %dt Handicap
  %dd= @golfer.handicap

  %hr

  %dt History
  %dd
    .col-md-5
      %table.table.table-striped
        %thead
          %tr
            %th.col-md-2 Trend
            %th.col-md-3 Handicap
            %th.col-md-3 Score
            %th.col-md-4 Date
            %th
        %tbody
          - if @golfer.rounds.empty?
            %td.center.bold{ colspan: 5 } No rounds entered
          - else
            - @golfer.rounds.recent.each do |round|
              %tr
                %td= handicap_movement_since_last_round(round)
                %td= round.handicap
                %td= fdate round.occurred_on
                %td= round.net_score
                %td
                  = link_to(round_path(round), method: :delete, data: { confirm: 'Are you sure you want to remove this round?' }) do
                    %span.glyphicon.glyphicon-remove
