= form_tag('/admin/rounds', class: 'form-horizontal') do |f|
  .fixed-add-rounds
    .col-md-4
      Post scores for
      = text_field_tag(:occurred_on, fdate(Date.today), tabindex: 1, autofocus: true)
    .col-md-2.col-md-offset-6= submit_tag('Add rounds', class: 'btn btn-primary btn-small')

  .fixed-rounds-container
    %h1.col-md-12 Round scores
    - @golfers.each.with_index do |golfer, index|
      = fields_for("golfer[#{golfer.id}]", golfer.rounds.new(handicap: golfer.adjusted_handicap)) do |round_form|
        .col-md-4.scrollable-table-container
          %table.table.table-bordered.scrollable-table-header
            %thead
              %tr.active
                %th.round-date
                  = link_to(admin_golfer_path(golfer), target: '_blank') do
                    %span.glyphicon.glyphicon-search
                  = golfer.full_name_with_member_id
                %th.round-score{ colspan: 2 }
                  %span.current-handicap= golfer.handicap
                  %span.high-score-total== (Total #{HandicapCalculator.new(golfer).sum_of_best_rounds})
              %tr
                %th.round-date
                %th.round-score Score
                %th.round-score Hdcp

            %tbody
              %tr
                %td.round-date
                %td.round-score= round_form.text_field(:net_score, class: 'shortnum track_changes', tabindex: index + 2)
                %td.round-score
                  = round_form.text_field(:handicap, class: 'shortnum track_changes', tabindex: 1000 + index)
                  = round_form.hidden_field(:medical_status)
                  %span.medical.toggle{ id: "medical-icon-#{golfer.id}", class: ('disabled' unless golfer.medical_status), data: { golfer_id: golfer.id, medical: golfer.medical_status?.to_json } }
                    %i.fa.fa-medkit

          .scrollable-table
            %table.table.table-bordered
              %thead
                - golfer.rounds.recent.each do |round|
                  %tr
                    %td.round-date= fdate round.occurred_on
                    %td.round-score= round.net_score
                    %td.round-score
                      = round.handicap
                      - if round.medical_status?
                        %span.medical.fa.fa-medkit

