- content_for :header do
  Round scores

= form_tag('/admin/rounds', class: 'form-horizontal') do |f|
  .fixed-add-rounds
    .col-md-4
      Post scores for
      = text_field_tag(:occurred_on, fdate(Date.today), tabindex: 1, autofocus: true)
    .col-md-2.col-md-offset-6= submit_tag('Add rounds', class: 'btn btn-primary btn-small')

  .fixed-rounds-container
    - @golfers.each.with_index do |golfer, index|
      = fields_for("golfer[#{golfer.id}]", golfer.rounds.new(handicap: golfer.handicap)) do |round_form|
        .col-md-4.scrollable-table-container
          %table.table.table-bordered.scrollable-table-header
            %thead
              %tr.active
                %th.round-date
                  = link_to(admin_golfer_path(golfer), target: '_blank') do
                    %span.glyphicon.glyphicon-search
                  = golfer.full_name_with_member_id
                %th.round-score
                  %span.current-handicap= golfer.handicap
                  %span.high-score-total== (Total #{HandicapCalculator.new(golfer).sum_of_best_scores})
              %tr
                %th.round-date Score
                %th.round-score Hdcp

            %tbody
              %tr
                %td.round-date= round_form.text_field(:net_score, class: 'shortnum track_changes', tabindex: index + 2)
                %td.round-score= round_form.text_field(:handicap, class: 'shortnum track_changes', tabindex: 1000 + index)

          .scrollable-table
            %table.table.table-bordered
              %thead
                - golfer.rounds.recent.each do |round|
                  %tr
                    %td.round-date= fdate round.occurred_on
                    %td.round-score= round.net_score

