- content_for :header do
  Round scores

= form_tag('/rounds', class: 'form-horizontal') do |f|
  .col-md-4
    Post scores for
    = text_field_tag(:occurred_on, fdate(Date.today), tabindex: 1, autofocus: true)
  .col-md-2.col-md-offset-6= submit_tag('Add rounds', class: 'btn btn-primary')

  - @golfers.each.with_index do |golfer, index|
    = fields_for("golfer[#{golfer.id}]", golfer.rounds.new(handicap: golfer.handicap)) do |round_form|
      .col-md-4.round-scores
        .col-md-6
          = link_to(golfer_path(golfer), target: '_blank') do
            %span.glyphicon.glyphicon-search
            = golfer.full_name_with_member_id


        .col-md-3
          = round_form.label(:net_score, 'Score', class: 'right')
          = round_form.text_field(:net_score, class: 'shortnum track_changes', tabindex: index + 2)
        .col-md-3
          = round_form.label(:handicap, 'Handicap', class: 'right')
          = round_form.text_field(:handicap, class: 'shortnum track_changes', tabindex: 1000 + index)

  .col-md-2.col-md-offset-10= submit_tag('Add rounds', class: 'btn btn-primary')
