- content_for :header do
  Recent rounds

%ul.col-md-12.list-group
  - @recent_round_dates.each do |date, count|
    %li.list-group-item.col-md-1= link_to("#{date.strftime('%b %d, %Y')} (#{count})", rounds_path(occurred_on: date.strftime('%Y-%m-%d')))

%h3== Scores on #{fdate @occurred_on}

%ul.col-md-12.list-group
  %li.list-group-item
    .col-md-1
      %h5 Score
    .col-md-1
      %h5.handicap_summary Old =&gt; New hdcp
    - if current_admin
      .col-md-1
        %h5 Total
    %h5.golfer_summary Golfer
  - @rounds.each do |round|
    %li.list-group-item
      .col-md-1
        = round.net_score
      .col-md-1
        = round.handicap
        - new_handicap = round.next_round.try(:handicap) || round.golfer.handicap
        = handicap_movement_since_last_round(new_handicap, round.handicap)
        %span.handicap_summary= new_handicap
      - if current_admin
        .col-md-1
          - calculator = HandicapCalculator.new(round.golfer)
          = calculator.sum_of_best_rounds
      .col-md-1
        %span.round_date= fdate round.occurred_on
      %span.golfer_summary
        - path = current_admin ? edit_admin_golfer_path(round.golfer) : golfer_path(round.golfer)
        = link_to(round.golfer.full_name_with_member_id, path)

