!!!html5
%html.no-js{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %title= page_title
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    = csrf_meta_tags
  %body
    .header-container
      %header.wrapper.clearfix
        %h1.title= page_title
        %nav.navbar.navbar-default
          .container-fluid
            %ul.nav.navbar-nav
              %li{ class: ('active' if current_page?(golfers_path)) }= link_to 'Manage golfers', golfers_path
              %li{ class: ('active' if current_page?(rounds_path)) }= link_to 'Post scores', rounds_path
              %li{ class: ('active' if current_page?(recent_updates_rounds_path)) }= link_to 'Recent round summary', recent_updates_rounds_path

    .main-container.container-fluid
      - flash.each do |type, msg|
        .alert{ class: "alert-#{type}" }= msg
      .main.wrapper.clearfix
        = yield
    .footer-container
      %footer.wrapper
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

